[Unit]
Description=LED Control Web Server
After=network.target gpio.target
Wants=network.target gpio.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
User=root
Group=root
WorkingDirectory=/home/pi/LED
# WorkingDirectory=/home/ruby0ne/LED
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/pi/LED/led_server.py
Restart=on-failure
RestartSec=10s
StandardOutput=append:/var/log/led-server.log
StandardError=append:/var/log/led-server.error.log

[Install]
WantedBy=multi-user.target 