[Unit]
Description=LED Control Web Server
After=network.target

[Service]
User=ruby0ne
Group=ruby0ne
WorkingDirectory=/home/ruby0ne/ws281x-env/LED
Environment=PYTHONUNBUFFERED=1
ExecStart=sudo /home/ruby0ne/ws281x-env/bin/python3 /home/ruby0ne/ws281x-env/LED/led_server.py
Restart=always
StandardOutput=append:/var/log/led-server.log
StandardError=append:/var/log/led-server.error.log

[Install]
WantedBy=multi-user.target 
